
.container{
position: relative;
width: 460px;
height: 460px;
background-color: rgb(127, 136, 136);
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}
.btnElements{
    display: flex;
    gap: 10px;
}
.normalBtnElements{
    display: grid;
    /* grid-template-rows: repeat(3,80px); */
    grid-template-columns: repeat(3,80px);
    gap: 10px;
}
/* .normalBtnElements > :last-child{
    grid-column:1 / span 3 ;
} */
.specialBtnElements{
    display: grid;
    /* grid-template-rows: repeat(3,80px); */
    grid-template-columns: repeat(2,80px);
    gap: 10px;
}
/* .specialBtnElements > :last-child{
    grid-column: 1fr;
} */
/* TODO: expand 0 and =  */